@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --input-box-shadow: var(--box-shadow);
}

body {
  background: var(--color-background);
  color: var(--foreground);
}
