@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);

  --primary: rgb(255, 196, 63);
  --info: rgb(230, 243, 251);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* box shadows */
  --input-box-shadow: var(--box-shadow);
  --input-box-shadow: var(--box-shadow);

  /* background colors */
  --color-primary: var(--primary);
  --color-info: var(--info);

  --font-open-sans: var(--open-sans);
}

* {
  letter-spacing: 0.03rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
body {
  background: var(--color-background);
  color: var(--foreground);
}
